{
  "globals": {
    "require": true,
    "jest": true,
    "expect": true,
    "afterEach": true,
    "beforeEach": true,
    "describe": true,
    "it": true
  },
  "rules": {
    "react/button-has-type": 0
  }
}
